.st0 {
    fill: #BBBAA3;
}

.st1 {
    fill: #BBC8A9;
}

.st2 {
    opacity: 0.5;
    fill: #BFCDB1;
}

.st3 {
    fill: #E2E1CE;
}

.st4 {
    opacity: 0.7;
    fill: #E2E1CE;
}

.st5 {
    fill: #678A32;
}

.st6 {
    fill: #567940;
}

.st7 {
    opacity: 0.1;
    fill: #004F42;
}

.st8 {
    opacity: 0.2;
}

.st9 {
    fill: #007742;
}

.st10 {
    fill: #D4D0C5;
}

.st11 {
    opacity: 0.5;
    fill: #D4D0C5;
}

.st12 {
    opacity: 0.5;
}

.st13 {
    fill: #3D551F;
}

.st14 {
    opacity: 0.2;
    fill: #007742;
}

.st15 {
    fill: #B7BEA9;
}

.st16 {
    fill: #295F00;
}

.st17 {
    opacity: 0.5;
    fill: #E2E1CE;
}

.st18 {
    opacity: 0.3;
    fill: #F7F7F7;
}

.st19 {
    fill: #538000;
}

.st20 {
    fill: #2D4101;
}

.st21 {
    opacity: 0.3;
    fill: #4F7400;
}

.st22 {
    opacity: 0.3;
}

.st23 {
    fill: #6E9400;
}

.st24 {
    fill: #345501;
}

.st25 {
    opacity: 0.3;
    fill: #345501;
}

.st26 {
    opacity: 0.2;
    fill: #345501;
}

.st27 {
    fill: #407929;
}

.st28 {
    fill: #FF8700;
}

.st29 {
    opacity: 0.2;
    fill: #E76500;
}

.st30 {
    fill: #D84B00;
}

.st31 {
    fill: #CB540A;
}

.st32 {
    fill: #AC6223;
}

.st33 {
    opacity: 0.3;
    fill: #E76500;
}

.st34 {
    opacity: 0.5;
    fill: #DC8000;
}

.st35 {
    fill: #FB9B00;
}

.st36 {
    opacity: 0.2;
    fill: #D79A00;
}

.st37 {
    opacity: 0.5;
    fill: #D79A00;
}

.st38 {
    opacity: 0.5;
    fill: #B97F00;
}

.st39 {
    fill: #FAD000;
}

.st40 {
    fill: #EFA200;
}

.st41 {
    opacity: 0.4;
    fill: #FAD000;
}

.st42 {
    opacity: 0.7;
    fill: #FAD000;
}

.st43 {
    opacity: 0.7;
    fill: #E8C349;
}

.st44 {
    opacity: 0.7;
    fill: #E9B44A;
}

.st45 {
    opacity: 0.5;
    fill: #345501;
}

.st46 {
    opacity: 0.3;
    fill: #6D9C3D;
}

.st47 {
    opacity: 0.3;
    fill: #537900;
}

.st48 {
    fill: #112B02;
}

.st49 {
    opacity: 0.3;
    fill: #003802;
}

.st50 {
    fill: #002802;
}

.st51 {
    fill: #FABD0C;
}

.st52 {
    opacity: 0.2;
    fill: #FABD0C;
}

.st53 {
    opacity: 0.1;
    fill: #FABD0C;
}

.st54 {
    opacity: 0.3;
    fill: #E29300;
}

.st55 {
    opacity: 0.3;
    fill: #DA8A00;
}

.st56 {
    fill: #CF6D00;
}

.st57 {
    fill: #A75001;
}

.st58 {
    fill: #D98C00;
}

.st59 {
    fill: #BE6500;
}

.st60 {
    fill: #F09E00;
}

.st61 {
    fill: #D47900;
}

.st62 {
    fill: #A3C828;
}

.st63 {
    opacity: 0.2;
    fill: #A3C828;
}

.st64 {
    fill: #32641C;
}

.st65 {
    opacity: 0.2;
    fill: #32641C;
}

.st66 {
    opacity: 0.5;
    fill: #32641C;
}

.st67 {
    fill: #4E8A32;
}

.st68 {
    fill: #007900;
}

.st69 {
    opacity: 0.4;
    fill: #4E8A32;
}

.st70 {
    opacity: 0.7;
    fill: #4E8A32;
}

.st71 {
    fill: #44701C;
}

.st72 {
    opacity: 0.2;
    fill: #44701C;
}

.st73 {
    opacity: 0.3;
    fill: #44701C;
}

.st74 {
    fill: #103C02;
}

.st75 {
    fill: #002400;
}

.st76 {
    fill: #295400;
}

.st77 {
    fill: #003000;
}

.st78 {
    fill: #005400;
}

.st79 {
    opacity: 0.5;
    fill: #4E8A32;
}

.st80 {
    opacity: 0.5;
    fill: #A3C828;
}

.st81 {
    fill: #890F00;
}

.st82 {
    fill: #C11A00;
}

.st83 {
    fill: #A71500;
}

.st84 {
    opacity: 0.4;
    fill: #C11A00;
}

.st85 {
    opacity: 0.7;
    fill: #C11A00;
}

.st86 {
    opacity: 0.2;
    fill: #A71500;
}

.st87 {
    opacity: 0.3;
    fill: #A71500;
}

.st88 {
    fill: #640800;
}

.st89 {
    fill: #490401;
}

.st90 {
    fill: #7A0C00;
}

.st91 {
    fill: #870F00;
}

.st92 {
    opacity: 0.3;
    fill: #2A5D46;
}

.st93 {
    fill: #657842;
}

.st94 {
    opacity: 0.3;
    fill: #657842;
}

.st95 {
    fill: #759329;
}

.st96 {
    opacity: 0.3;
    fill: #759329;
}

.st97 {
    fill: #437F46;
}

.st98 {
    fill: #2A6046;
}

.st99 {
    fill: #1A5135;
}

.st100 {
    fill: #2A5816;
}

.st101 {
    opacity: 0.3;
    fill: #723C74;
}

.st102 {
    opacity: 0.2;
    fill: #723C74;
}

.st103 {
    fill: #7C951F;
}

.st104 {
    opacity: 0.2;
    fill: #768050;
}

.st105 {
    fill: #6E8202;
}

.st106 {
    fill: #4F692C;
}

.st107 {
    fill: #3D5135;
}

.st108 {
    opacity: 0.5;
    fill: #768050;
}

.st109 {
    fill: #A6C250;
}

.st110 {
    fill: #4A592C;
}

.st111 {
    opacity: 0.5;
    fill: #DACE31;
}

.st112 {
    opacity: 0.5;
    fill: #A6C250;
}

.st113 {
    opacity: 0.3;
    fill: #E0E0E0;
}

.st114 {
    opacity: 0.2;
    fill: #E0E0E0;
}

.st115 {
    opacity: 0.1;
    fill: #E0E0E0;
}

.st116 {
    fill: #FFCE00;
}

.st117 {
    opacity: 0.4;
    fill: #C6A239;
}

.st118 {
    opacity: 0.2;
    fill: #E3A239;
}

.st119 {
    opacity: 0.3;
    fill: #B8A139;
}

.st120 {
    opacity: 0.3;
    fill: #FFCE00;
}

.st121 {
    fill: #F6B400;
}

.st122 {
    opacity: 0.6;
    fill: #CFAE2A;
}

.st123 {
    opacity: 0.4;
    fill: #CFAE2A;
}

.st124 {
    fill: #997500;
}

.st125 {
    fill: #FFD86C;
}

.st126 {
    fill: #E59E00;
}

.st127 {
    fill: #EDB300;
}

.st128 {
    fill: #E9B300;
}

.st129 {
    opacity: 0.3;
    fill: #E3A239;
}

.st130 {
    opacity: 0.3;
    fill: #D58E63;
}

.st131 {
    opacity: 0.2;
    fill: #C6A239;
}

.st132 {
    fill: #FFEC00;
}

.st133 {
    fill: #FFEC00;
    stroke: #E0E0E0;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.st134 {
    fill: #380301;
}

.st135 {
    fill: #5B0701;
}

.st136 {
    opacity: 0.3;
    fill: #5B0701;
}

.st137 {
    fill: #9C1300;
}

.st138 {
    opacity: 0.3;
    fill: #830E00;
}

.st139 {
    opacity: 0.4;
    fill: #961200;
}

.st140 {
    fill: #005200;
}

.st141 {
    opacity: 0.5;
    fill: #ACB500;
}

.st142 {
    fill: #00C200;
}

.st143 {
    opacity: 0.8;
    fill: #00C200;
}

.st144 {
    opacity: 0.5;
    fill: #517C00;
}

.st145 {
    fill: #430401;
}

.st146 {
    opacity: 0.2;
    fill: #961200;
}

.st147 {
    opacity: 0.5;
    fill: #961200;
}

.st148 {
    fill: #003502;
}

.st149 {
    opacity: 0.5;
    fill: #7CA000;
}

.st150 {
    opacity: 0.5;
    fill: #658400;
}

.st151 {
    opacity: 0.7;
}

.st152 {
    fill: #BB1900;
}

.st153 {
    fill: #6E8F22;
}

.st154 {
    opacity: 0.4;
    fill: #345501;
}

.st155 {
    opacity: 0.5;
    fill: #6E8F22;
}

.st156 {
    opacity: 0.5;
    fill: #7C951F;
}

.st157 {
    fill: #FFFFFF;
}